[flake8]
# As defined at https://google.github.io/styleguide/pyguide.html#38-comments-and-docstrings
docstring-convention=google

# D212 and D213 are mutually exclusive, so we're only allowing D213.
# D205 and D415 don't like multi-line summary statements, which is annoying.
# E203 and W503 don't interact well with black
ignore = D205,D212,D415,E203,W503

# This is the line length that black uses
# https://black.readthedocs.io/en/stable/the_black_code_style.html#line-length
max-line-length = 88

per-file-ignores =
  # For tests, disable type annotation and docstring linting.
  tests/*: ANN D DAR

# Select other tools to enable.

# ABS enables absolute import checks.

# ANN enables linting for type annotations.

# BLK enables using black --check from within flake8.

# D enables docstrings warnings from pydocstyle.

# DAR enables docstring style linting via darglint.

# F are errors reported by pyflakes, a tool which parses source files
# and finds invalid Python code.

# I is linting errors related to isort, which is the source of truth
# for how imports should be ordered.

# W and E are warnings and errors reported by pycodestyle, which checks
# your Python code against some of the style conventions in PEP 8.
select = ABS,ANN,DAR,BLK,D,E,F,I,W
