stages:
  - lint
  - test

.test:
  before_script:
    - echo "before testing"
    - apk add build-base
    - apk add libffi-dev
    - apk add openssl-dev
    - pip install poetry
    - poetry install

test-3.7:
  image: python:3.7-alpine
  stage: test
  extends: .test
  script:
    - echo "testing in 3.7"
    - poetry run nox -rs tests-3.7

test-3.8:
  image: python:3.8-alpine
  stage: test
  extends: .test
  script:
    - echo "testing in 3.8"
    - poetry run nox -rs tests-3.8

test-3.9:
  image: python:3.9-alpine
  stage: test
  extends: .test
  script:
    - echo "testing in 3.9"
    - poetry run nox -rs tests-3.9

lint:
  image: python:3-alpine
  stage: lint
  extends: .test
  script:
    - poetry run flake8 xrpl tests
