stages:
  - lint
  - test

variables:
  # The cryptography team broke older builds of Alpine: https://github.com/pyca/cryptography/issues/5776
  # Seems like people are having issues with the rust build even on newer versions,
  # so let's skip rust forn ow.
  CRYPTOGRAPHY_DONT_BUILD_RUST: 1

# Test
.test:
  before_script:
    - echo "before testing"
    - apk add build-base
    - apk add rust
    - apk add openssl-dev
    - apk add libffi-dev
    - pip install poetry
    - poetry install

test-3.7:
  # tedkalaw: Use 3.7.4 for now: https://bugs.python.org/issue38550
  image: python:3.7.4-alpine
  stage: test
  extends: .test
  script:
    - poetry run nox -rs tests-3.7
  retry: 2

test-3.8:
  image: python:3.8-alpine
  stage: test
  extends: .test
  script:
    - poetry run nox -rs tests-3.8
  retry: 2

test-3.9:
  image: python:3.9-alpine
  stage: test
  extends: .test
  script:
    - poetry run nox -rs tests-3.9
  retry: 2

lint:
  image: python:3-alpine
  stage: lint
  extends: .test
  script:
    - poetry run flake8 xrpl tests
  retry: 2
