[tool.poetry]
name = "xrpl-py"
version = "1.1.0"
description = "A complete Python library for interacting with the XRP ledger"
readme = "README.md"
repository = "https://github.com/XRPLF/xrpl-py"
authors = [
  "Amie Corso <acorso@ripple.com>",
  "Ted Kalaw <tkalaw@ripple.com>",
  "Mayukha Vadari <mvadari@ripple.com>",
  "Greg Weisbrod <gweisbrod@ripple.com>",
  "Florent Uzio <fuzio@ripple.com>",
  "Mayur Bhandary <mbhandary@ripple.com>",
  "Nathan Nichols <nnichols@ripple.com>"
]
keywords = [
  "xrp",
  "xrpl",
  "cryptocurrency",
]
license = "ISC"
documentation = "https://xrpl-py.readthedocs.io"
include = [
  "LICENSE",
]
packages = [
  { include = "xrpl" },
]

[tool.poetry.dependencies]
python = "^3.7"
base58 = "^2.1.0"
ECPy = "^1.2.5"
typing-extensions = "^3.7.4"
httpx = "^0.18.1"
websockets = "^9.0.1"

[tool.poetry.dev-dependencies]
flake8 = "^3.8.4"
black = "^20.8b1"
flake8-black = "^0.2.1"
flake8-docstrings = "^1.5.0"
mypy = "^0.790"
isort = "^5.7.0"
flake8-isort = "^4.0.0"
flake8-annotations = "^2.5.0"
flake8-absolute-import = "^1.0"
darglint = "^1.5.8"
Sphinx = "^3.5.1"
sphinx-rtd-theme = "^0.5.1"
aiounittest = "^1.4.0"

[tool.isort]
# Make sure that isort's settings line up with black
profile = "black"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
