name: Unit test

on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:

jobs:
  lint-and-type-check:
    name: Lint and type-check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Display Python version
        run: |
          python -c "import sys; print(sys.version)"

      - name: Install poetry
        run: pipx install poetry

      - name: Retrieve poetry dependencies from cache
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'poetry'

      - name: Install poetry dependencies
        run: poetry install

      - name: Lint
        run: |
          poetry run python -m run_flake8 xrpl tests --darglint-ignore-regex="^_(.*)"

      - name: Type-check
        run: |
          poetry run mypy --strict --implicit-reexport xrpl

  unit-test:
    name: Unit test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # we have to use 3.7.1 to get around openssl issues
        python-version: ['3.7.1', '3.8', '3.9', '3.10']

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Display Python version
        run: |
          python -c "import sys; print(sys.version)"

      - name: Install poetry
        run: pipx install poetry

      - name: Retrieve poetry dependencies from cache
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'poetry'

      - name: Install poetry dependencies
        run: poetry install

      - name: Unit test
        run: |
          poetry run poe test_unit
          poetry run coverage report --fail-under=85
